In [1]:
import numpy as np
import matplotlib.pyplot as plt
from scipy.io import loadmat, savemat
import pandas as pd
import copy

In [2]:
fips_main = pd.read_csv('/Users/qingyao/OneDrive - cumc.columbia.edu/machine_learning_data/county_data/fips_mainland.csv',names=['FIPS'])

In [7]:
df_fips = pd.read_csv('/Users/qingyao/OneDrive - cumc.columbia.edu/machine_learning_data/county_data/land_density_2020.csv')

In [8]:
df_fips.head()

,STATE,COUNTY,GEOID,STATE_NAME,COUNTY_NAME,POP_COU,HOU_COU,ALAND_COU,ALAND_Mi²_COU,POPDEN_COU,HOUDEN_COU
0,1,1,1001,Alabama,Autauga,58805,24350,1.539634e+09,594.452758,98.922916,40.962044
1,1,3,1003,Alabama,Baldwin,231767,124148,4.117656e+09,1589.827058,145.781265,78.088997
2,1,5,1005,Alabama,Barbour,25223,11618,2.292160e+09,885.003034,28.500467,13.127639
3,1,7,1007,Alabama,Bibb,22293,9002,1.612189e+09,622.466064,35.814001,14.461833
4,1,9,1009,Alabama,Blount,59134,24622,1.670259e+09,644.887035,91.696680,38.180330

In [9]:
df_merged = pd.merge(df_fips,fips_main,how='outer',left_on='GEOID',right_on='FIPS')

In [10]:
df_main_pop = df_merged.dropna()

In [11]:
df_main_pop_sorted = df_main_pop.sort_values(by='FIPS')

In [15]:
np.savetxt('pop_sorted.csv', df_main_pop_sorted['POP_COU'].values)